@import url('https://fonts.googleapis.com/css2?family=Yaldevi&display=swap');
:root {
    --primary-color:#54d11b ;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    position: relative;
    min-height: 100%;
}
body{
  font-family: 'Yaldevi', sans-serif;
    background-color: #1f1c1c;  
    color:var(--primary-color);
    margin: 0 0 100px;
    text-align: center;
}



/* Main

main {
  margin: 0 0 7rem;
}

main h1 {
  margin: 1rem;
} */

/*  Input */
.container {
    width: 85%;
    margin: 1rem auto;
    font-size: larger;
    padding: 1rem 0;
}

label {
  font-size: larger;
  color: var(--primary-color);
  width: 256px;
  font-size: larger;
  margin: 0.5rem;
}


input{
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
  
}

button {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: 1rem auto;
  display: block;
}

#output-box {
  font-size: x-large;
  margin: 1rem;
}


  /* footer */

.footer-line {
    text-align: center;
    color: var(--primary-color);
    padding-bottom: 0.5rem;
}

.footer .social-pills {
    text-align: center;
}
.footer ul {
    padding-inline-start: 0px;
}

hr {
    border: 1px solid var(--primary-color);
}
a{
    color: var(--primary-color);
    text-decoration: none;
    font-size: x-large;
}
.list-non-bullet {

    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}
.footer-all{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 110px;
    width: 100%;
}

/*Navbar toggle  */
nav {
  background-color: #1f1c1c;
  display: flex;
  justify-content: space-between;
}
nav .mainMenu {
  display: flex;
  list-style: none;
}
nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
  color: var(--primary-color);
}

nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

nav .logo {
  margin: 6px;
  font-size:xx-large;
  cursor: pointer;
  color: var(--primary-color);
  display: block;
  max-width: 270px;
  max-height: 70px;
  font-weight: bolder;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
}

@media(max-width: 800px){
  nav .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #1f1c1c;
      transition: top 1s ease;
      display: none;
  }
  nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;

  }
  nav .openMenu {
      display: block;
  }
  
}
